.PageWrapper {
	margin: 0 auto;
	max-width: 1140px;
	padding-left: 25px;
	padding-right: 25px;
}

.Header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.Header nav a {
	color: blueviolet;
	text-decoration: none;
	margin: 0 5px;
}

.HeaderWrapper {
	border-bottom: 1px solid gray;
	padding: 5px 0;
}
