.button_slide {
	color: black;
	border: 2px solid rgb(0, 207, 252);
	border-radius: 8px;
	padding: 5px 10px;
	display: inline-block;
	font-family: 'Readex Pro', sans-serif;
	font-style: bold;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 rgb(0, 207, 252);
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}

.button_form {
	color: black;
	border: 2px solid rgb(0, 207, 252);
	border-radius: 8px;
	padding: 6px 12px;
	display: inline-block;
	font-family: 'Readex Pro', sans-serif;
	font-style: bold;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 rgb(0, 207, 252);
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}

.slide_left:hover {
	color: White;
	box-shadow: inset 0 0 0 50px rgb(0, 207, 252);
}

.PageWrapper {
	margin: 0 auto;
	max-width: 1140px;
	padding-left: 25px;
	padding-right: 25px;
	color: #0083e1;
}

.Header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.HeaderWrapper {
	/*border-bottom: 1px solid rgb(0, 209, 252);*/
	padding: 5px 0;
}

.Header nav a {
	color: white;
	font-size: 16px;
	font-family: 'Readex Pro', sans-serif;
	font-weight: bold;
	margin: 0 5px;
	padding: 0 5px;
	text-decoration: none;
}

.Header nav a:hover {
	color: rgb(0, 207, 252);
}

.Header nav a:last-child {
	margin-right: 0;
	padding-right: 0;
}

.Form form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.Form input {
	margin: 10px 0;
	margin-bottom: 30px;
	padding: 10px 5px;
	border: 0;
	border-radius: 8px;
	border-bottom: 1px solid #eee;
	width: 100%;
}

.UserCard {
	color: white;
	border-radius: 8px;
	background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
	display: flex;
	margin: 20px 0;
	padding: 10px;
}

.UserCardImage {
	flex-basis: 50%;
}

.UserCardText {
	flex-basis: 50%;
	padding-left: 40px;
}

.UserCardText a {
	color: white;
	text-decoration: none;
}

.UserCardText a:hover {
	text-decoration: none;
	color: rgb(0, 207, 252);
}
