.PageWrapper {
	margin: 0 auto;
	max-width: 1140px;
	padding-left: 25px;
	padding-right: 25px;
}

.Header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.HeaderWrapper {
	/*border-bottom: 1px solid rgb(0, 209, 252);*/
	padding: 5px 0;
}

.Header nav a {
	color: rgb(16, 75, 248);
	font-size: 16px;
	font-weight: bold;
	margin: 0 5px;
	padding: 0 5px;
	text-decoration: none;
}

.Header nav a:active {
	color: rgb(0, 207, 252);
}

.Header nav a:last-child {
	margin-right: 0;
	padding-right: 0;
}

.Form form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.Form input {
	margin-bottom: 30px;
	padding: 10px 5px;
}

.UserCard {
	border: 1px solid rgb(0, 209, 252);
	display: flex;
	margin: 20px 0;
	padding: 10px;
}

.UserCardImage {
	flex-basis: 50%;
}

.UserCardText {
	flex-basis: 50%;
	padding-left: 40px;
}
